.container {
  position: relative;
  width: 320px;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  padding-bottom: 2rem;
  width: 350px;
}

.docseva {
  border: 1px solid black;
  position: absolute;
}

.left-element {
 
  height: 50px;
  display: block;
margin-left: auto;

  float: left;
  position: absolute;
  height: fit-content;
  top: 30px;
}

.right-element {

  height: 50px;

  height: fit-content;
  float: right;
  position: absolute;
  left: 190%;
}
