* {
    margin: 0;
    padding: 0;
}

.patientDesc-headers {
    display: flex;
    margin: 20px;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}

.patientDesc-headers:hover {
    box-shadow: 0 0 10px 0 #35a29f;
    transition: 0.3s;
}
.patientDesc-headers h1 {
    font-size: 70px;
    color: #35a29f;
}

.patientDesc-headers p {
    font-size: 30px;
}


.patientDesc-images {
    display: flex;
    flex-direction:row;
    justify-content: center;
    flex-wrap: wrap;
}

.patientDesc-images img {
    width: 500px;
    margin: 30px;
    border-radius: 30px;
}

.patientDesc-contents {
    margin: 20px;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
}

.patientDesc-contents:hover {
    box-shadow: 0 0 10px 0 #35a29f;
    transition: 0.3s;
}
.patientDesc-contents h1 {font-size: 70px; color: #35a29f;}

.patientDesc-content-1 {

}