
<section class="vh-100" >
    <div class="container py-5 h-20" style="min-width: fit-content; ">
      <div class="row d-flex justify-content-right align-items-center h-100" style="float: right;" >
        <div class="col-md-12 col-xl-20">
          <div class="card" style="border-radius: 15px; min-width: fit-content; background-color:#35a29f;">
            <div class="card-body text-center">
              <div class="mt-3 mb-4">
                <img src="https://cdn.pixabay.com/photo/2016/03/31/20/11/patient-1295570_1280.png"
                  class="rounded-circle img-fluid" style="width: 100px; " />
              </div>
              <h4 class="mb-2" style="color:white;">Patient</h4>
              
              <div class="mb-4 pb-2">
                <button type="button" class="btn btn-outline-primary btn-floating">
                  <i class="fab fa-facebook-f fa-lg"></i>
                </button>
                <button type="button" class="btn btn-outline-primary btn-floating">
                  <i class="fab fa-twitter fa-lg"></i>
                </button>
                <button type="button" class="btn btn-outline-primary btn-floating">
                  <i class="fab fa-skype fa-lg"></i>
                </button>
              </div>
              <button type="button" class="btn btn-primary btn-rounded btn-lg" style="background-color: white; color:#35a29f";>
                Login/Signup
              </button>
              <div class="d-flex justify-content-between text-center mt-5 mb-2" style="color:white;">
                <div>
                  <p class="mb-2 h5 " >8471</p>
                  <p class=" mb-0" style="color:white;" >Wallets Balance</p>
                </div>
                <div class="px-3">
                  <p class="mb-2 h5" >8512</p>
                  <p class=" mb-0" style="color:white;">Income amounts</p>
                </div>
                <div>
                  <p class="mb-2 h5" >4751</p>
                  <p class=" mb-0"  style="color:white;">Total Transactions</p>
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </section>