<%- include("partials/header.ejs")-%>

<main id="main">
  <!-- <div class="chatbot-container"> -->
    <div class="chatbot-image-container">
      <!-- <img src="https://onlim.com/wp-content/uploads/Question-800x450.jpg" alt=""> -->
      <img
        src="https://www.zfort.com/media/cache/blogArticle/images/blog/5ece5dfcccab1_top_10_AI_chatbots.jpg"
        alt=""
      />
    </div>

    
      <div class="chatbot-info-1">
        <h1>What is a Chatbot?</h1>
        <p>
          A chatbot is a computer program that talks to people through messages.
          It can answer questions, help with problems, or just have a
          conversation. It uses artificial intelligence to understand what the
          person is saying and respond like a human.
        </p>
        <p>
          एक चैटबॉट एक कंप्यूटर प्रोग्राम होता है जो संदेशों के माध्यम से लोगों
          से बातचीत करता है। यह सवालों का उत्तर दे सकता है, समस्याओं में मदद कर
          सकता है, या बस बातचीत कर सकता है। इसका उपयोग कर्मचारी है। इसका उपयोग
          नकली बुद्धिमानता का उपयोग करके किया जाता है जिससे यह समझ सके कि
          व्यक्ति क्या कह रहा है और मानव की तरह जवाब दे सकता है।
        </p>
        <img
          src="https://www.ometrics.com/blog/wp-content/uploads/2021/02/What-is-a-chatbot-1.png"
          alt="chatbot-ref-1"
        />
      </div>
    </div>
    <div class="chatbot-info-2">
      <img src="https://img.freepik.com/free-vector/chatbot-healthcare-abstract-concept-vector-illustration-artificial-intelligence-caregiver-chatbot-healthcare-use-anonymous-consultation-clinic-ai-assistant-chat-service-abstract-metaphor_335657-6052.jpg?w=740&t=st=1690832888~exp=1690833488~hmac=38708a06a0b8b50dae84427274cf4868675415b1a6ad6539c2dd4d555c20cdf8" alt="">
      <h1>How to access this Chatbot?</h1>
      <p>
        To access the chatbot, you can click on the chat icon on the website or app. It will open a chat window where you can type your message and the chatbot will respond to you.
      </p>
      <p>
        चैटबॉट तक पहुंचने के लिए, आप वेबसाइट या ऐप पर चैट आइकन पर क्लिक कर सकते हैं। इससे एक चैट विंडो खुलेगी जिसमें आप अपना संदेश टाइप कर सकते हैं और चैटबॉट आपको जवाब देगा।
      </p>
    </div>
  
</main>
<!-- End #main -->

<%- include("partials/footer.ejs")-%>
