<%- include("partials/header.ejs")-%>

<main id="main">
    <div class="desc-img">
        <h1>Who can Register as a Doctor?</h1>
        <p>Targetting Graduated UG Students preparing for PG, can practice here</p>

        <img src="https://img.freepik.com/free-vector/doctors-concept-illustration_114360-1515.jpg?w=1060&t=st=1690915731~exp=1690916331~hmac=6a7cf121307cd5da9d92ae1c409e61022024f05eba07739f7ee57ff2ced19eee" alt="">
    </div>
      
<div class="container1" data-aos = "fade-up">
    <div class="text">
      <h1>How to know if I can register myself as a Doctor?</h1>
      <p>If you hold a degree in MBBS (or equivalent) then you are welcome to register on our website absolutely free of cost and 
        start your practice. 
      </p>
    </div>
    <div class="image">
      <img src="views\eldery_treatment_05.jpg" alt="Question Image">
    </div>
  </div>


  <div class="container1" data-aos = "fade-up">
    <div class="text">
      <h1>What will I get? What is my benefit of joining?</h1>
      <p>As a Student or as a Doctor, you would be able to practice remotely as well as on-site, you will be gaining a lot of experience and will be able to make some extra money out of it!</p>
    </div>
    <div class="image">
      <img src="https://img.freepik.com/free-photo/doctor-thinking-isolated-white-background_1368-5825.jpg?w=740&t=st=1690917450~exp=1690918050~hmac=085c679eb9ab1d08f3cc51f747612357945bf7e41de8775356faca70ccff3e3c" alt="Doc-Thinking-Image">
    </div>
  </div>
    <!-- <section id="faq" class="faq">
        <div class="container" data-aos="fade-up">
  
          <div class="row gy-4">
  
            <div class="col-lg-4">
              <div class="content px-xl-5">
                <h3>Frequently Asked <strong>Questions</strong></h3>
               
              </div>
            </div>
            <div class="col-lg-8">

                <div class="accordion accordion-flush" id="faqlist" data-aos="fade-up" data-aos-delay="100">
    
                  <div class="accordion-item">
                    <h3 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                        <span class="num">1.</span>
                        How does the Below Poverty Line (BPL) scheme work?
                      </button>
                    </h3>
                    <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                      <div class="accordion-body">
                        The BPL scheme allows eligible patients to book appointments with doctors at a significantly reduced cost of only 1rs per appointment. To avail of this scheme, patients need to upload valid documents that have been verified by the government to prove their eligibility for the BPL program.  
                      </div>
                    </div>
                  </div># Faq item -->

</main>

<%- include("partials/footer.ejs")-%>