<%- include("partials/header.ejs")-%>


  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
          <h2>Free Doctor Consultation<br><span>From the comfort of your home!</span></h2>
          <!-- <p>Receive personalized sexual advice and have your queries addressed without the need for in-person consultations.</p> -->
          <p>Expert sexual advice, conveniently online</p>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="#about" class="btn-get-started">Get Started</a>
            <!-- <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a> -->
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2">
          <img src="assets/img/hero-img.svg" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="100">
        </div>
      </div>
    </div>

    <div class="icon-boxes position-relative">
      <div class="container position-relative">
        <div class="row gy-4 mt-5" style="justify-content:space-evenly" >

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-easel"></i></div>
              <h4 class="title"><a href="" class="stretched-link">AI chatbot</a></h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-gem"></i></div>
              <h4 class="title"><a href="" class="stretched-link">Online registration
              </a></h4>
            </div>
          </div><!--End Icon Box -->

         
          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-command"></i></div>
              <h4 class="title"><a href="loginIntermediate" class="stretched-link">Doctor / Patient Login</a></h4>
            </div>
          </div><!--End Icon Box -->

        </div>
      </div>
    </div>

    </div>
  </section>
  <!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>About Us</h2>
          <p>Welcome to Doc-Seva, the innovative platform that makes booking medical appointments easier and faster than ever before. Our goal is to provide patients with a seamless and convenient way to connect with doctors, while also making it easier for medical professionals to manage their practice.</p>
        </div>

        <div class="row gy-4">
          <div class="col-lg-6">
            <h3>Streamline your medical appointment booking with our hassle-free AI chatbot.</h3>
            <img src="assets/img/about.jpg" class="img-fluid rounded-4 mb-4" alt="">
            <p>Our AI-powered system and chatbot enable fast and efficient scheduling, allowing patients to book appointments from anywhere at any time. No more waiting on hold or struggling to find a convenient appointment time. With Doc-Seva, you can book your appointment with just a few clicks.</p>
            <p>Our platform offers a range of benefits for patients, including reduced wait times, easy access to a variety of doctors and specialties, and the ability to quickly and easily reschedule appointments if needed. We understand that your time is valuable, and we aim to make your experience as efficient and stress-free as possible.</p>
          </div>
          <div class="col-lg-6">
            <div class="content ps-0 ps-lg-5">
              <p class="fst-italic">
                At Doc-Seva, we're committed to making healthcare more accessible and convenient for everyone. Here are just a few of the benefits our platform offers:
              </p>
              <h4>For Patients:</h4>
              <ul>
                <li><i class="bi bi-check-circle-fill"></i> A larger patient base
                </li>
                <li><i class="bi bi-check-circle-fill"></i> More efficient scheduling

                </li>
                <li><i class="bi bi-check-circle-fill"></i> Reduced no-shows and cancellations

                </li>
              </ul>
              <h4>For Medical Professionals:</h4>
              <ul>
                <li><i class="bi bi-check-circle-fill"></i> Reduced wait times for appointments</li>
                <li><i class="bi bi-check-circle-fill"></i> Access to a range of doctors and specialties
                </li>
                <li><i class="bi bi-check-circle-fill"></i> Quick and easy appointment rescheduling
                </li>
              </ul>
              <p>
                Our healthcare and technology experts are committed to providing you with the best experience possible. Contact us anytime for assistance. Thank you for choosing Doc-Seva to improve your healthcare accessibility.
              </p>

          
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- <section id="stats-counter" class="stats-counter">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4 align-items-center">
<!-- 
          <div class="col-lg-6">
            <img src="assets/img/stats-img.svg" alt="" class="img-fluid">
          </div>
<div class="col-lg-6">

            <div class="stats-item d-flex align-items-center">
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Happy Clients</strong> consequuntur quae diredo para mesta</p>
            </div> End Stats Item -->
<!-- 
            <div class="stats-item d-flex align-items-center">
              <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Projects</strong> adipisci atque cum quia aut</p>
            </div>End Stats Item -->

            <!-- <div class="stats-item d-flex align-items-center">
              <span data-purecounter-start="0" data-purecounter-end="453" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Hours Of Support</strong> aut commodi quaerat</p>
            </div>End Stats Item --> 

          <!-- </div> 
        </div>

      </div> -->
    <!-- </section>End Stats Counter Section -->

    <!-- ======= Call To Action Section ======= -->

    <!-- This link has to be replaced by the link of the video that is generated by AI -->
    <section id="call-to-action" class="call-to-action">
      <div class="container text-center" data-aos="zoom-out">
        <a href="https://youtu.be/vQtQoMQPxlo" class="glightbox play-btn"></a>
        <!-- The next line would display the heading that will be displayed on the top of the window  -->
        <h3></h3>
        <!-- The text in the next line will include the text that will be displayed over the video  -->
        <p></p> 
        <!-- <a class="cta-btn" href="#">Call To Action</a> -->
      </div>
    </section><!-- End Call To Action Section -->

    <!-- ======= Our Services Section ======= -->
    <section id="services" class="services sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Our Services</h2>
          <p>Our healthcare platform offers a range of services, including online booking, AI chatbot, doctor login, medical intern registration, patient segmentation by disease, and one-call registration.</p>
        </div>

        <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">

          

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-broadcast"></i>
              </div>
              <h3>Online registration</h3>
              <p>Patients can register online for medical services.</p>
              <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-easel"></i>
              </div>
              <h3>AI chatbot</h3>
              <p>An AI chatbot is available to assist patients & streamline appointment scheduling.</p>
              <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-bounding-box-circles"></i>
              </div>
              <h3>Patient categorization:</h3>
              <p>Patients can be categorized based on their medical conditions.</p>
              <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

        
         

        </div>

      </div>
    </section><!-- End Our Services Section -->

    <!-- ======= Testimonials Section ======= -->
    <!-- <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Testimonials</h2>
          <p>Voluptatem quibusdam ut ullam perferendis repellat non ut consequuntur est eveniet deleniti fignissimos eos quam</p>
        </div>

        <div class="slides-3 swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <div class="d-flex align-items-center">
                    <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img flex-shrink-0" alt="">
                    <div>
                      <h3>Saul Goodman</h3>
                      <h4>Ceo &amp; Founder</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div> -->
            <!-- </div>End testimonial item -->
<!-- 
      

           
            
    <!-- ======= Our Team Section ======= -->
    <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Our Team</h2>
          <p>DocSeva has highly skilled Doctors qualified from top institutes of the country!</p>
        </div>

        <div class="row gy-4">

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">
              <h4>Walter White</h4>
              <span>Web Development</span>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="">
              <h4>Sarah Jhinson</h4>
              <span>Marketing</span>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">
              <h4>William Anderson</h4>
              <span>Content</span>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <img src="assets/img/team/team-4.jpg" class="img-fluid" alt="">
              <h4>Amanda Jepson</h4>
              <span>Accountant</span>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- End Team Member -->

        </div>

      </div>
    </section><!-- End Our Team Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Pricing</h2>
          <p>Aperiam dolorum et et wuia molestias qui eveniet numquam nihil porro incidunt dolores placeat sunt id nobis omnis tiledo stran delop</p>
        </div>

        <div class="row g-4 py-lg-5" data-aos="zoom-out" data-aos-delay="100">

          <div class="col-lg-4">
            <div class="pricing-item">
              <h3>Claim Below Poverty Line Benefits</h3>
              <div class="icon">
                <i class="bi bi-box"></i>
              </div>
              <h4><sup>Rs.</sup>1<span> / Appointment</span></h4>
              <ul>
                <li><i class="bi bi-check"></i> Use the AI ChatBot</li>
                <li><i class="bi bi-check"></i>Book Doctor Appointments</li>
                <li><i class="bi bi-check"></i>Video Call With a Doctor Online</li>
                <li><i class="bi bi-check"></i> <span>Queue Skipping</span></li>
                <!-- <li class="na"><i class="bi bi-x"></i> <span></span></li> -->
              </ul>
              <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-lg-4">
            <div class="pricing-item featured">
              <h3>General Plan</h3>
              <div class="icon">
                <i class="bi bi-airplane"></i>
              </div>

              <h4><sup>Rs.</sup>51<span> / Appointment</span></h4>
              <ul>
                <li><i class="bi bi-check"></i>Use the AI ChatBot</li>
                <li><i class="bi bi-check"></i>Book Doctor Appointments</li>
                <li><i class="bi bi-check"></i>Video Call With a Doctor Online</li>
                <li class="na"><i class="bi bi-x"></i> <span>Queue Skipping</span></li>
                <!-- <li><i class="bi bi-check"></i> Massa ultricies mi quis hendrerit</li> -->
              </ul>
              <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-lg-4">
            <div class="pricing-item featured">
              <h3>Advance Plan</h3>
              <div class="icon">
                <i class="bi bi-airplane"></i>
              </div>

              <h4><sup>Rs.</sup>101<span> / Appointment</span></h4>
              <ul>
                <li><i class="bi bi-check"></i>Use the AI ChatBot</li>
                <li><i class="bi bi-check"></i>Book Doctor Appointments</li>
                <li><i class="bi bi-check"></i>Video Call With a Doctor Online</li>
                <li><i class="bi bi-check"></i> <span>Queue Skipping</span></li>
                <!-- <li><i class="bi bi-check"></i> Massa ultricies mi quis hendrerit</li> -->
              </ul>
              <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div>
            </div>
          </div><!-- End Pricing Item -->

    </section><!-- End Pricing Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-4">
            <div class="content px-xl-5">
              <h3>Frequently Asked <strong>Questions</strong></h3>
             
            </div>
          </div>

          <div class="col-lg-8">

            <div class="accordion accordion-flush" id="faqlist" data-aos="fade-up" data-aos-delay="100">

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                    <span class="num">1.</span>
                    How does the Below Poverty Line (BPL) scheme work?
                  </button>
                </h3>
                <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    The BPL scheme allows eligible patients to book appointments with doctors at a significantly reduced cost of only 1rs per appointment. To avail of this scheme, patients need to upload valid documents that have been verified by the government to prove their eligibility for the BPL program.  
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                    <span class="num">2.</span>
                    What documents are required for the BPL scheme enrollment?
                  </button>
                </h3>
                <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    To enroll in the Below Poverty Line scheme, patients must upload government-issued documents that verify their BPL status. Accepted documents may include income certificates, ration cards, or other official proofs of their economic status.
                    </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                    <span class="num">3.</span>
                    How does the AI-based chatbot work?
                  </button>
                </h3>
                <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    The AI-based chatbot on DocSeva is designed to assist patients in several ways. It can predict possible diseases based on the symptoms provided by the patient. It can also offer valuable information and self-care tips related to common ailments. In cases where the chatbot cannot identify the disease with certainty, it will recommend the patient to book an appointment with a doctor for a more accurate diagnosis. </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-4">
                    <span class="num">4.</span>
                    Is the AI chatbot a replacement for a real doctor's consultation?
                  </button>
                </h3>
                <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    No, the AI chatbot is not a substitute for a real doctor's consultation. While it can provide useful insights and preliminary guidance, it is essential to consult with a qualified healthcare professional for a proper diagnosis and personalized treatment.</div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-5">
                    <span class="num">5.</span>
                    How secure are the patient documents uploaded on the platform?
                  </button>
                </h3>
                <div id="faq-content-5" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    At DocSeva, we take data security and patient privacy seriously. All uploaded documents are encrypted and stored securely. Access to these documents is restricted to authorized personnel only, and we comply with the necessary data protection laws and regulations. </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-5">
                    <span class="num">6.</span>
                    How secure are the patient documents uploaded on the platform?
                  </button>
                </h3>
                <div id="faq-content-5" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    The BPL scheme is designed to benefit eligible patients directly. Therefore, to avail of the reduced-cost appointments, patients need to upload their own verified BPL documents. If you wish to help someone, you can guide them through the process of registering and verifying their documents to avail of the scheme.
</div>
              </div><!-- # Faq item-->

            </div>

          </div>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

   
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Contact</h2>
          <p>You can get in touch with our team of Doctors for any support / clarification</p>
        </div>

        <div class="row gx-lg-0 gy-4">

          <div class="col-lg-4">

            <div class="info-container d-flex flex-column align-items-center justify-content-center">
              <div class="info-item d-flex">
                <i class="bi bi-geo-alt flex-shrink-0"></i>
                <div>
                  <h4>Location:</h4>
                  <p>All Over The World</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex">
                <i class="bi bi-envelope flex-shrink-0"></i>
                <div>
                  <h4>Email:</h4>
                  <p>helpine_docseva@gmail.com</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex">
                <i class="bi bi-phone flex-shrink-0"></i>
                <div>
                  <h4>Call:</h4>
                  <p>+1 5589 55488 55</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex">
                <i class="bi bi-clock flex-shrink-0"></i>
                <div>
                  <h4>Open Hours:</h4>
                  <p>24*7</p>
                </div>
              </div><!-- End Info Item -->
            </div>

          </div>

          <div class="col-lg-8">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="7" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <%- include("partials/footer.ejs")-%>