<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>DOC-SEVA🧑‍⚕️</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
    <!-- Favicons -->
    <link
      href="https://media.giphy.com/media/abQREAbWNNrhLvILxz/giphy.gif"
      rel="icon"
    />
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="assets/css/main.css" rel="stylesheet" />
  </head>
  <body>
    <header
      id="header"
      class="header d-flex align-items-center"
      style="background-color: #257674"
    >
      <div class="container-fluid container-l d-flex align-items-center">
        <a href="index.html" class="logo d-flex align-items-center">
          <h1>DocSeva🧑‍⚕️<span>.</span></h1>
        </a>
      </div>
    </header>
    <!-- End Header -->

    <main
      id="main"
      style="
        background-image: -webkit-linear-gradient(
          180deg,
          white 50%,
          #35a29f 50%
        );
        min-height: 100vh;
      "
    >
      <!-- ======= Breadcrumbs ======= -->

      <section class="sample-page">
        <div class="container" data-aos="fade-up"></div>
      </section>
      <div style="
        min-width:100%;
        display:flex;
        align-items:center;
        justify-content:center;
      ">
        <div id= "hhhh" style=
        "text-align: center;
       width:fit-content;
       
        " >
        <h1 style="font-size:60px; 
        font-family: 'Rubik', sans-serif;
         font-weight:bolder;">Welcome to DocSeva🧑‍⚕️</h1>
      </div>
      </div>
      <div style="display: flex; flex-direction:row; justify-content:space-evenly;">
        <div>
        <%- include("partials/profileCardDoctor.ejs")-%>
        </div>
        <div>
        <%-include("partials/profileCardPatient.ejs")-%>
        </div>
      </div>
    </main>
    <!-- End #main -->
    <script src="assets/js/main.js"></script>
  </body>
</html>
