<%- include("partials/header.ejs")-%>
<main id="main">
  <div class="patientDesc-images">
    <img src="https://clipart-library.com/data_images/12604.jpg" alt="" />
    <!-- <img src="..\views\patientImage-2.jpg" alt=""> -->
  </div>
  <div class="patientDesc-headers">
    <h1>How Can I register as a patient?</h1>
    <p>
      You just have to create an account with us if you are new here or Just
      login to your existing account!
    </p>
    <img src="..\views\patientImage-4.jpg" style="max-height: 500px" />
  </div>
  <div class="patientDesc-contents" data-aos="fade-up">
    <div class="patientDesc-content-1">
      <h1>How can I book an appointment?</h1>
      <p>
        You can first register yourself on the main page, create a new account
        if you are new here, or login to your existing account!
      </p>
    </div>
    <div class="patientDesc-images">
      <img src="..\views\patientImage-3.jpg" alt="" />
      <!-- <img src="..\views\patientImage-2.jpg" alt=""> -->
    </div>
  </div>
  <!-- 3rd One -->
  <div class="patientDesc-contents" data-aos="fade-up">
    <div class="patientDesc-content-1">
      <h1>What are the different categories of appointments?</h1>
      <p>
        You can find the categories of the events listed below!
      </p>
    </div>
    <div class="patientDesc-images">
      <img src="..\views\patientImage-3.jpg" alt="" />
      <!-- <img src="..\views\patientImage-2.jpg" alt=""> -->
    </div>
  </div>
</main>

<%- include("partials/footer.ejs")-%>
