<%- include("partials/header.ejs")-%>

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      
      <nav>
        <div class="container">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Sample Inner Page</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Breadcrumbs -->

    <section class="sample-page">
      <div class="container" data-aos="fade-up">

        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
          Quo repellendus doloremque ea odit natus. 
          Quae, consectetur inventore totam, facilis ducimus ut deleniti similique assumenda ad sapiente, repudiandae perferendis est id!
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
           Suscipit deserunt, totam odit id ex, maxime assumenda labore quaerat facilis quasi fugit animi sint architecto, f
          uga illum voluptatum pariatur voluptates consectetur?
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
          Quo repellendus doloremque ea odit natus. 
          Quae, consectetur inventore totam, facilis ducimus ut deleniti similique assumenda ad sapiente, repudiandae perferendis est id!
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
           Suscipit deserunt, totam odit id ex, maxime assumenda labore quaerat facilis quasi fugit animi sint architecto, f
          uga illum voluptatum pariatur voluptates consectetur?
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
          Quo repellendus doloremque ea odit natus. 
          Quae, consectetur inventore totam, facilis ducimus ut deleniti similique assumenda ad sapiente, repudiandae perferendis est id!
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
           Suscipit deserunt, totam odit id ex, maxime assumenda labore quaerat facilis quasi fugit animi sint architecto, f
          uga illum voluptatum pariatur voluptates consectetur?
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
          Quo repellendus doloremque ea odit natus. 
          Quae, consectetur inventore totam, facilis ducimus ut deleniti similique assumenda ad sapiente, repudiandae perferendis est id!
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
           Suscipit deserunt, totam odit id ex, maxime assumenda labore quaerat facilis quasi fugit animi sint architecto, f
          uga illum voluptatum pariatur voluptates consectetur?
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
          Quo repellendus doloremque ea odit natus. 
          Quae, consectetur inventore totam, facilis ducimus ut deleniti similique assumenda ad sapiente, repudiandae perferendis est id!
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
           Suscipit deserunt, totam odit id ex, maxime assumenda labore quaerat facilis quasi fugit animi sint architecto, f
          uga illum voluptatum pariatur voluptates consectetur?
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
          Quo repellendus doloremque ea odit natus. 
          Quae, consectetur inventore totam, facilis ducimus ut deleniti similique assumenda ad sapiente, repudiandae perferendis est id!
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
           Suscipit deserunt, totam odit id ex, maxime assumenda labore quaerat facilis quasi fugit animi sint architecto, f
          uga illum voluptatum pariatur voluptates consectetur?
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
          Quo repellendus doloremque ea odit natus. 
          Quae, consectetur inventore totam, facilis ducimus ut deleniti similique assumenda ad sapiente, repudiandae perferendis est id!
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
           Suscipit deserunt, totam odit id ex, maxime assumenda labore quaerat facilis quasi fugit animi sint architecto, f
          uga illum voluptatum pariatur voluptates consectetur?
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
          Quo repellendus doloremque ea odit natus. 
          Quae, consectetur inventore totam, facilis ducimus ut deleniti similique assumenda ad sapiente, repudiandae perferendis est id!
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
           Suscipit deserunt, totam odit id ex, maxime assumenda labore quaerat facilis quasi fugit animi sint architecto, f
          uga illum voluptatum pariatur voluptates consectetur?
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
          Quo repellendus doloremque ea odit natus. 
          Quae, consectetur inventore totam, facilis ducimus ut deleniti similique assumenda ad sapiente, repudiandae perferendis est id!
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
           Suscipit deserunt, totam odit id ex, maxime assumenda labore quaerat facilis quasi fugit animi sint architecto, f
          uga illum voluptatum pariatur voluptates consectetur?
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
          Quo repellendus doloremque ea odit natus. 
          Quae, consectetur inventore totam, facilis ducimus ut deleniti similique assumenda ad sapiente, repudiandae perferendis est id!
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
           Suscipit deserunt, totam odit id ex, maxime assumenda labore quaerat facilis quasi fugit animi sint architecto, f
          uga illum voluptatum pariatur voluptates consectetur?

        </p>

      </div>
    </section>

  </main><!-- End #main -->

  <%- include("partials/footer.ejs")-%>